<div *ngIf="artists | async as artistsList; else noSet">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let artist of artistsList">
                <td style="display:none;">{{artist.id}}</td>
                <td>{{artist.name}}</td>
                <td>{{artist.artistType}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noSet>
    Load a set to view artists.
</ng-template>
