.listbox-area{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-right: 0.5rem;
}
[role="listbox"] {
    min-height: 18em;
    padding: 0;
    background: white;
    border: 1px solid #aaa;
  }
  [role="option"] {
    display: block;
    padding: 0 1em 0 1.5em;
    position: relative;
    line-height: 1.8em;
  }
  .option-item{
      display: flex;
      justify-content: space-between;
  }
  .option-highlight{
    background-color: cadetblue;
    color: white;
  }