<div class="row alignment-1">
    <div class="col col-sm-2">
        <app-set-picker 
            (eventForOutput)="eventForOutputReceived($event)"></app-set-picker>
    </div>
    <div class="col col-sm-10">
        <app-help></app-help>
    </div>
</div>
<div class="row alignment-2 bg-dark output-window">
    <div class="col col-sm-12 less-left">
        <app-output-window class="fullWidth"></app-output-window>
    </div>
</div>
<div *ngIf="currentSet != null && currentSet!='noSet'" class="row alignment-3">
    <div class="col col-sm-2">
        <app-artists-list [artists]="artists" [currentSet]="currentSet" (artistSelectedEvent)="artistSelectedEventReceived($event)"></app-artists-list>
    </div>
    <div class="col col-lg-10">
        <app-artist-info *ngIf="artistSelected; else noArtist" [tracks]="tracks" [bandMembers]="bandMembers" [bandWikiPageUrl]="bandWikiPageUrl"></app-artist-info>
        <ng-template #noArtist>
            Select an artist from a set.
        </ng-template>
    </div>
</div>

