.alignment-1{
    padding-top: .25rem;
}
.alignment-2{
    margin-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
}
.output-window{
    border-width: 0.05rem;
    border-color: darkgray;
    border-style: solid;
    border-radius: 0.25rem;
}
.alignment-3{
    padding-left: 0rem;
    padding-top: .75rem;
}
.fullWidth
{
    width:100%;
}

.less-left{
    padding-left: 0.3rem;
}