.code{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding: 0.1rem;
}
.scroll { 
    height: 100px; 
    overflow-x: hidden; 
    overflow-anchor: auto;
}
.output-prompt{
    color: gray;
    padding-left: 0rem;
}
.output-subject{
    color: gold;
}
.output-verb{
    color:palevioletred;
}
.output-area{
    color: lightcyan;
}
.fullWidth{
    width:100%;

}

.flex-fill{
    flex:1 1 auto;
}