<div class="bg-dark d-flex">
    <div class="code scroll fullWidth" #outputScroll [scrollTop]="outputScroll.scrollHeight">
        <div *ngFor="let outputAction of outputActions | async">
            <span class="output-prompt">[{{getFormatedTime(outputAction.occured)}}]&gt;</span>
            <span class="output-subject">{{outputAction.subject}}</span>&nbsp;
            <span class="output-verb">{{outputAction.verb}}</span>&nbsp;in&nbsp;
            <span class="output-area">{{outputAction.area}}</span>
        </div>
    </div>
</div>

